@charset "utf-8";
@use '../foundation/mixins';

/* ============================================
// HEADER
// ==========================================*/
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  min-width: 1180px;
  max-height: 110px;
  background: #ffffff;
  pointer-events: none;
  @include mixins.mq(sp) {
    min-width: inherit;
    max-height: 80px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    flex: 0 0 auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 0 0 10px 0;
    @include mixins.mq(sp){
      padding: 16px 20px;
    }
    a{
      display: block;
      color: mixins.$txt-color;
      pointer-events: auto;
    }
    img{
      transition: 0.24s;
      @media screen and (max-width: 1300px){
        width: 130px;
      }
      @include mixins.mq(sp){
        width: 100px;
      }
      .js-scroll &{
        width: 100px;
        @include mixins.mq(sp){
          width: 80px;
        }
      }
    }
    span{
      display: block;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 14px;
      padding: 1px;
      background: mixins.$bg-color;
      transition: 0.24s;
      @include mixins.mq(sp){
        font-size: 1rem;
        margin-top: 10px;
      }
      .js-scroll &{
        font-size: 1rem;
        @include mixins.mq(sp){
          font-size: 0.8rem;
        }
      }
    }
  }
  &__nav{
    height: 110px;
    display: flex;
    align-items: center;
    margin: 0 16px;
    pointer-events: auto;
    @include mixins.mq(sp){
      display: none;
    }
    &__list{
      display: flex;
      justify-content: center;
      &__item{
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0 1em;
        @media screen and (max-width: 1300px){
          font-size: 1.5rem;
          margin: 0 0.7em;
        }
      }
    }
  }
  &__recruit{
    flex: 0 0 auto;
    height: 110px;
    display: flex;
    align-items: center;
    padding-right: 24px;
    pointer-events: auto;
    @include mixins.mq(sp){
      height: 80px;
      margin-left: auto;
      padding-right: 10px;
    }
    a{
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: #ffffff;
      padding: 16px 40px;
      background: mixins.$gradient-horizontal;
      border-radius: 500px;
      transition: 0.24s;
      @include mixins.mq(sp){
        font-size: 1.4rem;
        padding: 10px 24px;
      }
      @include mixins.mq(pc){
        @include mixins.shadow;
        &:hover{
          transform: translate(0,3px);
          box-shadow: none;
        }
      }
      &::before{
        content: '';
        width: 27px;
        height: 27px;
        margin-right: 2px;
        background: url(../img/common/ico_recruit.png) center center /contain no-repeat;
        @include mixins.mq(sp){
          width: 20px;
          transform: translate(0,1px);
        }
      }
    }
  }
  &__hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 80px;
    cursor: pointer;
    pointer-events: auto;
    transition: color 0.4s;
    @include mixins.mq(sp) {
      display: flex;
    }
    span{
      width: 22px;
      height: 2px;
      margin: 4px 0;
      background: mixins.$primary-color;
      transition: background 0.4s;
    }
    small{
      font-family: mixins.$eng;
      font-size: 0.9rem;
      font-weight: 900;
      color: mixins.$primary-color;
      line-height: 1;
      margin-top: 8px;
    }
  }
}
