@charset "utf-8";
@use '../foundation/mixins';

/* ============================================
// RECRUIT
// ==========================================*/

//求人系ページの文字サイズ
.kyujin_container{
	font-size: 1.5rem;
	@include mixins.mq(sp) {
		font-size: 1.4rem;
	}
}

/*--------------------------
	共通カスタマイズ
--------------------------*/
.lower-kyujin_l,
.lower-kyujin_d,
.lower-whatsnew{
	// 余白
	.kyujin_container {
		margin-top: 100px;
		margin-bottom: 120px;
		@include mixins.mq(sp) {
			margin-top: 40px;
			margin-bottom: 48px;
		}
	}
	//トグルボタン
	.search-toggle{
		max-width: 260px;
		background: mixins.$gradient-horizontal;
		border-radius: 500px;
		overflow: hidden;
		@include mixins.mq(sp){
			max-width: 220px;
		}
		.toggle_txt{
			font-size: 1.6rem;
			line-height: 1;
			padding: 1.1em 1em;
			@include mixins.mq(sp){
				font-size: 1.4rem;
			}
		}
		.toggle_trigger_txt_ico{
			&:nth-of-type(1){
				margin-top: -2px;
				margin-left: -5px;
			}
			&:nth-of-type(2){
				margin-top: -2px;
				margin-left: 1px;
			}
		}
	}
	//検索パネル
	.search_panel{
		padding: 40px 48px 30px;
		@include mixins.mq(sp){
			padding: 36px 20px 14px;
		}
	}
	.search_body{
		padding-bottom: 30px;
		@include mixins.mq(sp){
			padding-bottom: 15px;
		}
	}
	//検索結果
	.job_result_total .job_result_total_body_ttl{
		font-size: 1.6rem;
		@include mixins.mq(sp){
			font-size: 1.3rem;
		}
	}
	.pagination li a{
		background: #eef0f2;
		&:hover{
			background: mixins.$primary-color;
		}
	}
	//雇用形態アイコン
	.job_employmenttype_list_item{
		font-size: 1.2rem;
		color: #ffffff;
		line-height: 24px;
		margin-left: 5px;
		padding: 0 10px;
		background: mixins.$primary-color;
		border: none;
		border-radius: 5px;
		@include mixins.mq(sp){
			padding: 0 0.5em;
			&::first-letter{
				color: #ffffff;
			}
		}
		&.-type01{
			background: mixins.$primary-color;
		}
		&.-type02{
			background: #ee8f20;
		}
		&.-type03{
			background: #e54646;
		}
	}
	//ボタン
	.btn{
		font-size: 1.6rem;
		border-radius: 500px;
		@include mixins.mq(sp){
			font-size: 1.4rem;
		}
		&.btn_secondary{
			background: mixins.$gradient-horizontal;
		}
		&.btn_external{
			&::after{
				top: 50%;
				right: 18px;
				transform: translateY(-50%);
				@include mixins.mq(sp) {
					right: 14px;
				}
			}
		}
	}
}

/*--------------------------
	求人一覧カスタマイズ
--------------------------*/
.lower-kyujin_l{
	//求人案件
	.job{
		border-bottom-width: 4px;
		border-bottom-style: double;
		&:first-child{
			border-top-width: 4px;
			border-top-style: double;
		}
	}
	//検索パネル
	.search_panel {
		border: none;
		background-color: #f2f2f2;
		border-radius: 10px;
	}
}

/*--------------------------
	新着求人カスタマイズ
--------------------------*/
.lower-whatsnew{
	// 余白
	.kyujin_container {
		margin-top: 80px;
		margin-bottom: 100px;
		@include mixins.mq(sp) {
			margin-top: 24px;
			margin-bottom: 48px;
		}
	}
	//求人案件
	.job{
		&::before,
		&::after{
			border-top-width: 4px;
			border-top-style: double;
		}
		&:not(:first-child){
			&::before{
				display: none;
			}
		}
	}
	//雇用形態アイコン
	.job_employmenttype_list_item{
		padding: 0;
	}
}

/*--------------------------
	求人詳細カスタマイズ
--------------------------*/
.lower-kyujin_d{
	//ヘッダー
	.header{
		border-color: mixins.$border-color;
	}
	//固定要素分の調整
	#container{
		padding-bottom: 92px;
		@include mixins.mq(sp) {
			padding-bottom: 68px;
		}
	}
	.pagetop{
		bottom: 97px;
		@include mixins.mq(sp) {
			bottom:68px;
		}
	}
	#ot-sdk-btn-floating.ot-floating-button{
		bottom: 100px;
		@include mixins.mq(sp) {
			bottom: 74px !important;
		}
	}
	//固定ヘッダー分下に
	.kyujin_container{
		margin-top: 72px;
		@include mixins.mq(sp) {
			margin-top: 16px;
		}
	}
	//メイン写真を横幅一杯に
	.job_head_img{
		@include mixins.mq(sp) {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	.job_body_head_txt_inner .job_post_ttl{
		color: mixins.$primary-color;
		&::before{
			background: mixins.$primary-color;
		}
	}
	//動画
	.mov {
    margin-bottom: 10px;
    &_inner {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    .media {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
	//各ブロック
	.job_body_block:nth-child(n+2){
		position: relative;
		margin-top: 70px;
    padding: 60px;
		@include mixins.mq(sp) {
			margin-top: 40px;
    	padding: 30px 8%;
		}
		&::before{
			content: "";
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 8px solid #eef0f2;
			pointer-events: none;
			@include mixins.mq(sp) {
				border-width: 4px;
			}
		}
	}
	//タイトル
	.outline_ttl,
	.appeal_ttl{
		position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.2em 1.3em;
    font-size: 2.8rem;
    margin-bottom: 0.1em;
    color: mixins.$primary-color;
    line-height: 1;
    white-space: nowrap;
		@include mixins.mq(sp) {
			font-size: 2rem;
		}
		&::after{
			background: #ffffff;
		}
	}
	//アピールポイント
	.appeal_list{
		display: block;
		.appeal_list_item_head{
			color: mixins.$primary-color;
		}
		.toggle-ico::before,
		.toggle-ico::after{
			background: mixins.$primary-color;
		}
		.appeal_list_item_detail_img{
			flex-basis: 24%;
		}
	}
	//一覧に戻るボタン
	.page_back{
		padding-bottom: 0;

		a {
			@include mixins.mq(pc){
				&:hover {
					color: #fff;
					opacity: 1;
				}
			}
		}
	}
	//コンバージョンボタン
	.fixed_convertion .convertion .btn_convertion{
		font-size: 1.6rem;
		background: mixins.$gradient-horizontal;
		border-radius: 500px;
		@include mixins.mq(sp){
			font-size: 1.4rem;
		}
		&::after{
			top: 50%;
			right: 18px;
			transform: translateY(-50%);
			@include mixins.mq(sp) {
				right: 14px;
			}
		}
	}
}
